:root {
    --MM-Black: #151212;
    --M-Black: black;
    --M-Yellow: #ffd500;
    --MM-Yellow: #f2ff00;
    --M-White: rgb(255, 255, 255);
    --MM-White: #eee;
    --M-width-lg: 88%;
    --MM-width-md: 92%;
} 
::selection { 
    color: var(--M-Black);
    background-color: var(--M-Yellow);
} 
/* -=-=-=- html and scrool -=-=-=- */
html::-webkit-scrollbar {width: .6rem;}
html::-webkit-scrollbar-track {background: var(--M-Black);}
html::-webkit-scrollbar-thumb {background: linear-gradient(var(--M-Black), var(--M-Yellow),var(--M-Black),var(--M-Yellow));}
html {font-size: var(--MM-width-md);scroll-behavior: smooth;}
body {overflow-x: hidden;}
main {width: 100%;}
a {cursor: pointer;}
/* -=-=-=- home -=-=-=- */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}
/* -=-=-=- home right -=-=-=- */
.home .rightH{width: 50%;height: 100%;border-bottom: 2px solid var(--M-White);}
/* -=-=-=- home left -=-=-=- */
.home .leftH {
    min-width: 960px;
    height: 100%;
    background: var(--M-Black);
    z-index: 100;
    border-right: 2px solid var(--M-White);
    transition: .7s linear;
}
.home .leftH .container {
    position: relative;
}
.home .leftH .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .7rem;
    position: relative;
}
.home .leftH .header .nameS {cursor: pointer;}
.home .leftH .header .nameS h1 {color: var(--M-White);font-size: 1.8rem;}
.home .leftH .header .nameS span {color: var(--M-Yellow);}
.home .leftH .header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.home .leftH .header ul li {margin: 0 1rem;position: relative;padding: .3rem;overflow: hidden;}
.home .leftH .header ul li::before {
    content: '';
    width: 0;
    height: 2px;
    background: var(--M-Yellow);
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    transition: .8s linear;
}
.home .leftH .header ul li:hover::before {width: 100%;}
.home .leftH .header ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--M-Yellow);
    position: absolute;
    bottom: 0;right: 0;
    z-index: -1;
    transition: .8s linear;
}
.home .leftH .header ul li:hover::after {width: 100%;}
.home .leftH .header ul li a{color: var(--M-White);font-size: 1.5rem;font-weight: 300;}
.home .leftH .header .searchIcon a {
    color: var(--M-Yellow);
    font-size: 1.5rem;
}
/* -=-=-=- home left search box -=-=-=- */
.home .leftH .container .searchBox {
    position: absolute;
    top: 100%;left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s linear;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--M-Yellow);
    z-index: 200;
}
.home .leftH .container .searchBox.openSearchBox {height: 55px;}
.home .leftH .container .searchBox input {
    width: 100%;
    font-size: 1.2rem;
    color: var(--MM-Black);
    background: var(--M-Yellow);
    font-weight: 800;
    padding: .7rem;
}
.home .leftH .container .searchBox a {
    color: var(--M-Black);
    font-size: 1.5rem;
    margin-right: 4rem;
}
/* -=-=-=- header tow container -=-=-=- */
.home .headerTowC {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--M-Yellow);
    position: fixed;
    top: 15%;left: 960px;
    padding: 1rem;
    gap: .5rem;
    z-index: 200;
}
.home .headerTowC a i {font-size: 1.8rem;color: var(--M-Black);}
/* -=-=-=- container tow picture -=-=-=- */
.home .leftH .container2P {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 960px;
    height: 100%;
    padding: 2rem;
    gap: 5rem;
}
.home .leftH .container2P .imageBox {
    width: 60%;
    position: relative;
}
.home .leftH .container2P .imageBox::before {
    width: 50%; height: 50%;
    position: absolute;
    background:transparent;
    top: 0; left: 0;
    z-index: 100;
    border-top: 1px solid var(--M-Yellow);
    border-left: 1px solid var(--M-Yellow);
    content: '';
}
.home .leftH .container2P .imageBox:hover:before {display: none;}
.home .leftH .container2P .imageBox::after {
    width: 50%; height: 50%;
    position: absolute;
    background:transparent;
    bottom: 0; right: 0;
    z-index: 100;
    border-bottom: 1px solid var(--M-Yellow);
    border-right: 1px solid var(--M-Yellow);
    content: '';
}
.home .leftH .container2P .imageBox:hover::after {display: none;}
.home .leftH .container2P .imageBox img {
    width: 100%;
    height: 100%;
    filter: saturate(0) brightness(0.3);
}
.home .leftH .container2P .imageBox img:hover {
    filter: saturate(1) brightness(1);
}
.home .leftH .container2P .textBox {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 4rem;
}
.home .leftH .container2P .textBox h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--M-White);
    font-size: 3rem;
    text-align: center;
    width: 150px;
}
/* -=-=-=- aboute -=-=-=- */
.aboute {
    width: 100%;
    height: 100%;
    background: var(--M-Black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aboute h3 {font-size: 3rem;color: var(--M-Yellow);margin: 3rem 0;}
.aboute .contentA {width: 80%;margin-bottom: 3rem;}
.aboute .contentA h2 {
    color: var(--MM-White);
    font-size: 2rem;
    letter-spacing: 2px;
}
.aboute .contentA h2 a {
    cursor: pointer;
    color: var(--M-Yellow);
    font-size: 2rem;
}
/* -=-=-=- menu -=-=-=- */
.menu {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -=-=-=- menu left -=-=-=- */
.menu .leftM {
    width: 50%; height: 100%;
    border-top: 2px solid var(--M-White);
    border-bottom: 2px solid var(--M-White);
}
/* -=-=-=- menu right -=-=-=- */
.menu .rightM {
    width: 960px;
    height: 100%;
    background: var(--M-Black);
    z-index: 100;
    border-left: 2px solid var(--M-White);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu .rightM .container {
    height: 80%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem; 
}
.menu .rightM .container .imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    position: relative;
    overflow: hidden;
    border-top: 2px solid var(--M-Yellow);
    border-right: 2px solid var(--M-Yellow);
    border-left: 2px solid var(--M-White);
    border-bottom: 2px solid var(--M-White);
}
.menu .rightM .container .imageBox::after {
    content: '';
    background: transparent;
    width: 70%;height: 70%;
    position: absolute;
    top: 3%;right: 3%;
    border-top: 2px solid var(--M-White);
    border-right: 2px solid var(--M-White);
    z-index: 200;
}

.menu .rightM .container .imageBox img {
    width: 100%;
    height: 100%;
    display: none;
}
.menu .rightM .container .imageBox img.showIM {
    display: flex;
    animation: bingo1 1.5s , bingo2 6.2s;
}
@keyframes bingo2 {
    from {transform: scale(1,1) rotate(0);}
    to {transform: scale(1.2,1.2) rotate(10deg);}
}
@keyframes bingo1 {
    from{opacity: 0;}
    to{opacity: 1;}
}
.menu .rightM h3 {
    font-size: 3rem;
    color: var(--M-Yellow);
    margin-bottom: 5rem;
}
.menu .rightM .textBox a {
    font-size: 2rem;
    color: var(--M-White);
    letter-spacing: 1.5px;
    cursor: pointer;
}
.menu .rightM .textBox h4 {
    font-size: 2rem;
    color: var(--M-Yellow);
    letter-spacing: 1.5px;
    cursor: pointer;
    text-align: center;
    margin: 1rem 0;
}
/* -=-=-=- comments -=-=-=- */
.comment {
    background: var(--M-Black);
    width: 100%;
    min-height: 43vh;
    padding: 3.5rem;
}
.comment .containerC {
    background: var(--M-Black);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem , 1fr));
}
.comment .containerC .part {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
    box-shadow: 0 0 10px 5px var(--M-Yellow);
    border-radius: 1rem;
    margin: 0 3rem;
}
.comment .containerC .part:hover {box-shadow: 0 0 15px 10px var(--M-White);}

.comment .containerC .part .userC1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.comment .containerC .part .userC1 img {
    height: 8rem;
    width: 8rem;
    border-radius: .5rem;
    object-fit: cover;
}
.comment .containerC .part .userC1 .userC2 {display: grid;gap: .7rem;}
.comment .containerC .part .userC1 .userC2 span {font-size: 2rem;color: var(--M-White);}
.comment .containerC .part .userC1 .userC2 .stars {
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment .containerC .part .userC1 .userC2 .stars i {color: var(--M-Yellow);font-size: 1.3rem;}
.comment .containerC .part .ri-chat-quote-fill {
    font-size: 4rem;
    position: absolute;
    top: 2%;
    right: 2%;
    color: var(--MM-Yellow);
}
.comment .containerC .part .textC p {
    font-size: 1.3rem;
    color: var(--MM-White);
    letter-spacing: 1.5px;
}
/* -=-=-=- discount -=-=-=- */
.discount {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount .rightD {
    width: 50%;
    height: 100%;
    border-top: 2px solid var(--M-White);
    border-bottom: 2px solid var(--M-White);
}
.discount .leftD {
    width: 960px;
    height: 100%;
    background: var(--M-Black);
    z-index: 100;
    border-right: 2px solid var(--M-White);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.discount .leftD .cartDis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 30rem;
    height: 60rem;
    position: relative;
    overflow: hidden;
}
.discount .leftD .cartDis img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}
.discount .leftD .cartDis::before {
    content: 'Dont miss this discount, one week left';
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 58.4%;
    /* background: rgba(249, 240, 0, 0.5); */
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 1s;
}
.discount .leftD .cartDis:hover::before{
    opacity: 1;;
}
.discount .leftD .cartDis .textDBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}
.discount .leftD .cartDis .textDBox del {
    font-size: 2rem;
    color: var(--M-Yellow);
    text-decoration:line-through;
}
.discount .leftD .cartDis .textDBox h3 {
    color: var(--M-Yellow);
    font-size: 3rem;
}
.discount .leftD .cartDis .textDBox p {
    color: var(--M-White);
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 2px;
}
.discount .leftD .cartDis .textDBox .price {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.discount .leftD .cartDis .textDBox .price span {
    font-size: 2rem;
    color: var(--M-Yellow);
}
.discount .leftD .cartDis .textDBox a {
    width: 100%;
    font-size: 2rem;
    color: var(--M-Black);
    text-align: center;
    padding: 1rem;
    background: var(--M-Yellow);
    font-weight: bold;
}
/* -=-=-=- contact us -=-=-=- */
.contactus {
    width: 100%;
    min-height: 100%;
    background: var(--M-Black);
    display: flex;align-items: center;justify-content: space-between;
    overflow: hidden;
    transition: .8s linear;
    padding: 0; padding-top: 3rem;
}
.contactus .map {width: 50%;height: 50vh;
    filter: brightness(60%);
    transition: .8s linear;
}
.contactus .map:hover , .contactus .map:focus {filter: brightness(100%);}
.contactus form {
    display: flex;align-items: center;justify-content: center;
    flex-direction: column;gap: 3rem;
    padding: 2rem;
    background: var(--MM-Black);
    width: 50%;height: 50vh;
    transition: .8s linear;
}
.contactus form .inputBox {
    display: flex;align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.697);
    padding: 1rem;
    background: var(--M-Black);
    width: 80%;
    border-radius: .2rem;
}
.contactus form .inputBox span {
    color: var(--M-Yellow);
    font-size: 2.2rem;
    margin: 0 1rem;
}
.contactus form .inputBox  input {
    font-size: 1.6rem;
    background: transparent;
    letter-spacing: 1.5;
    color: var(--M-White);
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input{-moz-appearance: textfield;}
.contactus form .btn {
    padding: 1rem;
    background-color: var(--M-Yellow);
    font-size: 1.7rem;
    font-weight: 900;
    letter-spacing: 2;
    width: 80%;
}
/* -=-=-=- footer -=-=-=- */
footer .container {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
footer .container .bacimg {
    background-image: url('./icon image/c12.jpg');
    filter: brightness(40%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
}
footer .container .container2 {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%; height: 100%;
}
footer .container .iconBox a i {
    font-size: 3rem;
    color: var(--M-Yellow);
    z-index: 1000;
    margin: 0 .7rem;
}
footer .container .numbersFF {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .7rem;
}
footer .container .numbersFF span {
    color: var(--M-White);
    font-size: 2rem;
    letter-spacing: 1.5;
    font-weight: 900;
}
footer .container .locations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}
footer .container .locations span {
    color: var(--M-Yellow);
    font-size: 2rem;
    letter-spacing: 1.5;
    flex-wrap: wrap;
}
footer .container .linksFF {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
footer .container .linksFF a {
    padding: 1rem;
    border: 1px solid var(--M-Yellow);
    background: transparent;
    color: var(--M-White);
    font-size: 2.2rem;
    letter-spacing: 1.7;
    text-align: center;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}